@font-face {
  font-family: "iconfont"; /* Project id 2674630 */
  src: url('iconfont.woff2?t=1626397807459') format('woff2'),
       url('iconfont.woff?t=1626397807459') format('woff'),
       url('iconfont.ttf?t=1626397807459') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-accountbook:before {
  content: "\e7d3";
}

.icon-cluster:before {
  content: "\e7d7";
}

.icon-radarchart:before {
  content: "\e7dc";
}

.icon-Report:before {
  content: "\e916";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-lock:before {
  content: "\e7c9";
}

